body
{
    background-color: aqua;
}
.container{
    background: rgb(0, 0, 0);
    height:400px;
    width:400px;
}
.button{
    background-color:red;
    height:200px;
    width:200px;
}

.container-edited{
    background: rgb(62, 165, 255);
    
}